--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

pybullet==3.2.7
gymnasium==1.1.1
swig==4.3.1
gymnasium[box2d]==1.1.1
gymnasium[other]
torch
torchvision
torchaudio
tqdm